BasedOnStyle: Google
Language: Cpp
Standard: c++17

ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never

DerivePointerAlignment: false
PointerAlignment: Left

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline

ReflowComments: true
SortIncludes: false

NamespaceIndentation: None
IndentCaseLabels: true

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterStruct:     false
  BeforeElse:      false
  SplitEmptyFunction: true
  SplitEmptyRecord:   true
  SplitEmptyNamespace: true
